<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	{{ with .Site.Params.customCSS }}
		{{ range . }}
		<link rel="stylesheet" href="{{ . | absURL }}">
		{{ end }}
	{{ end }}
</head>
<body>
	<div class="container">
		<header class="header">
			<div class="container header__container">
				<div class="logo">
					<a class="logo__link" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" rel="home">
						<div class="logo__title">{{ .Site.Title }}</div>
						{{ with .Site.Params.logo.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
					</a>
				</div>
			</div>
		</header>
		<div class="wrapper flex">
			<div class="primary">
				{{ block "main" . }}{{ end }}
			</div>
		</div>
	</div>
</body>
</html>