<article class="list__item post card">
	{{ partial "post_thumbnail.html" (dict "class" "card" "page" .) }}
	<div class="card__content">
		<header class="card__header">
			<h2 class="card__title post__title">
				<a href="{{ .RelPermalink }}" rel="bookmark">
				{{ .Title }}
				</a>
			</h2>
			{{- with .Params.lead }}
			<p class="card__lead post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="card__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		<div class="card__excerpt post__content clearfix">
			{{- if .Params.description }}
				{{ .Params.description | markdownify }}
			{{- else }}
				{{ .Summary | truncate 150 }}
			{{- end }}
		</div>
		<div class="card__footer clearfix">
			<a class="card__readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
		</div>
	</div>
</article>