{{/* 自定义文章卡片模板 */}}
{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l dark-gray no-underline">
    <div class="flex-column flex-row-ns flex">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        <div class="{{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pl3-ns" "pr3-ns" }} mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.RelPermalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if $featured_image }} w-60-ns {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pr3-ns" "pl3-ns" }}{{ end }}">
        {{/* 发布时间显示逻辑 */}}
        {{ $now := now }}
        {{ $publishTime := .Date }}
        {{ $duration := $now.Sub $publishTime }}
        {{ $minutes := $duration.Minutes }}
        {{ $hours := $duration.Hours }}
        
        {{/* 动态时间显示 */}}
        <div class="f7 gray mb2 relative-time" data-publish-time="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "2006-01-02" }}
        </div>
        
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.RelPermalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
        {{/* 隐藏作者信息 */}}
        {{/* 
        {{ with .Params.author | compare.Default .Site.Params.author }}
          <p class="f6 lh-copy mv0">By {{ . }}</p>
        {{- end -}}
        */}}
        {{/* 修改为阅读原文 */}}
        <a href="{{.RelPermalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">阅读原文</a>
      </div>
    </div>
  </div>
</article>