/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  line-height: 1.2;

}.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;        /* 左外边距：2rem */
  margin-top: 2rem;         /* 上外边距：2rem */
  margin-bottom: 2rem;      /* 下外边距：2rem */
  border-left: 4px solid #ccc;  /* 左边框：4px 灰色实线 */
  padding-left: 1rem;       /* 左内边距：1rem */
  line-height: 1.2;         /* 行距：1.2 */
}

.nested-links a{
  overflow-wrap: break-word;
}
